<?xml version="1.0" encoding="UTF-8" standalone="no"?><log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender class="org.apache.log4j.ConsoleAppender" name="stdout">
		<param name="Threshold" value="trace"/>
		<param name="Target" value="System.out"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss:SSS} - %p - %C.%M() %m%n"/>
		</layout>
	</appender> 

	<category name="org.testeditor">
		<priority value="off"/>
		<appender-ref ref="stdout"/>
	</category>	
</log4j:configuration>