<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="Test-Editor"
            application="org.testeditor.ui.application">
         <property
               name="appName"
               value="Test-Editor">
         </property>
         <property
               name="applicationXMI"
               value="org.testeditor.ui/Application.e4xmi">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/org.testeditor.ui/css/default.css">
         </property>
         <property
				name="lifeCycleURI"
				value="bundleclass://org.testeditor.ui/org.testeditor.ui.ApplicationLifeCycleHandler">
		</property>
      </product>
   </extension>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.testeditor.ui.application.TestEditorApplication">
         </run>
      </application>
   </extension>

</plugin>
