###################################################################
# Test-Editor project configuration                               #
# —--------------------------------                               #
#                                                                 #
# Config file for the local settings of each Test-Editor project. #
# You may edit this file directly or via the Test-Editor’s UI.    #
###################################################################

tpr-version=$VERSION$


# library (project specific meta data for any test case)
###################################################################

library_id=$LIBRARY_VERSION$


# testautomat (FitNesse server settings)
####################################################################

testautomat.serverid=$testautomat.serverid$


# synchronization (team sharing e.g. via SVN)
####################################################################

teamshare_plugin_id=$SYNC_TYPE$

# Test environment to execute the tests
####################################################################
test.execution.environment.config=$TEST_EXEC_ENV$
